{% extends 'base.html' %}
{% load static %}
{% block content %}

<ul class="list-group my-2 mx-2">
  <li class="list-group-item"><h1>About US.</h1></li>
    <br>
    <br>
  <p><br><br>This is an Ecommerce website in Django. The framework of Python Language, Using Bootstrap, HTML, CSS, PYTHON, Django.
      <br> This is one of the easiest Framework out there in the world to be used for web development.
  <br>I am Rishabh singh from Delhi. Pursuing B.Sc from IIT madras, This is project for Ducat under Gurav Tomar.</p>

  <li class="list-group-item" id="bottom"><h1>KEEP UP THE GOOD WORK!!!</h1>
  <a href="https://www.linkedin.com/in/rishabh11336/">Linkedin</a>
  <a href="https://www.github.com/rishabh11336">GitHub</a></li>
</ul>

{% endblock content %}
